.text-center{
    text-align: center;
}

.version-number {
  position: absolute;
  left: 1.2rem;
  color: #bbb;
  font-size: smaller;
}

div.DTS div.dataTables_scrollBody {
    background: white;
}

#app_settings_button {
  float: right;
}

.toggleable-password {
  padding-right: 29px;
}

.btn-collapse {
  padding-left: 0px;
}

.toggle-password {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

#btn_fault_group {
    width: 100%;
    height: 38px;
    margin-bottom: 5px;
    margin-top: 5px;
    align-content: space-between;
}

.btn-fault {
    float: right;
    margin-left: 5px;
    width: 120px;
}

#ranges_submit_button {
  float: right;
}

.sheet_name {
    font-weight: bold;
}

ul.closeable {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  ul.closeable li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 8px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
  }
  
  ul.closeable li:hover {
    background-color: #eee;
  }
  
  .btn-close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    font-size: 22px;
    padding: 4px 11px;
    transform: translate(0%, -50%);
  }
  
  .btn-close:hover {background: #bbb;}