/*
https://stackoverflow.com/questions/924916/is-there-a-way-to-make-a-div-unselectable
  by https://stackoverflow.com/users/165164/anne-gunn
*/
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.sheet_name {
  font-weight: bold;
}

.text-center{
  text-align: center;
}

.DTS .dataTables_scrollBody {
    background: white;
}


#app_settings_button {
  float: right;
}

.color-black {
  color: #222222;
}

.color-black:hover {
  color: #999999;
}

.color-black:active {
  color: #999999;
}

#app_settings_modal .input-group {
  padding-bottom: 0.315rem;
}

.btn-collapse {
  padding-top: 0;
  padding-left: 0;
  font-weight: bold;
}

.chevron {
  position: relative;
  bottom: -0.315rem;
}

.btn-collapse.collapsed .chevron {
  transition: all 0.2s ease-out;
  transform: rotate(0deg);
}

.btn-collapse .chevron {
  transition: all 0.2s ease-out;
  transform: rotate(-180deg);
}

.toggleable-password {
  padding-right: 1.8125rem;
}

.toggle-password {
  float: right;
  margin-top: -1.875rem;
  margin-right: 0.315rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.version {
  position: absolute;
  left: 1.2rem;
  color: #b0b0b0;
  font-size: smaller;
}

.help{
  background-color: #222222;
  font-family: 'Roboto', sans-serif;
  color: white;
	text-align: center;
	font-size: 5rem;

	position: fixed;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.help::selection {
  background-color: white;
  color: black;
}

#btn_fault_group {
    width: 100%;
    height: 2.357rem;
    margin-bottom: 0.315rem;
    margin-top: 0.315rem;
    align-content: space-between;
}

.btn-fault {
    float: right;
    margin-left: 0.315rem;
    width: 7.5rem;
}

#ranges_submit_button {
  float: right;
}

ul.closeable {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.315rem;
    margin-top: 0.315rem;
  }
  
  ul.closeable li {
    border: 0.0625rem solid #d0d0d0;
    margin-top: -0.0625rem; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
  }
  
  ul.closeable li:hover {
    background-color: #e0e0e0;
  }
  
  .btn-close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.375rem;
    padding: 0.25rem 0.6875rem;
    transform: translate(0%, -50%);
  }
  
  .btn-close:hover {
    background: #bbb;
  }